.gallery {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallery .horizontal-gallery {
    display: inline;
} 

.carousel-indicators {
    bottom: -60px;
}




